[Unit]
Description=Vue Instance for Fuskar
After=fuskar-backend.service

[Service]
User=fuskar-owner
Group=www-data
WorkingDirectory=/home/fuskar-owner/Projects/fuskar/front-end/student-attendance/
Environment="PATH=/usr/local/bin"
ExecStart=/usr/local/bin/npm start
Restart=always

[Install]
WantedBy=multi-user.target