[Unit]
Description=Django Instance for Fuskar
After=network.target

[Service]
User=fuskar-owner
Group=www-data
WorkingDirectory=/home/fuskar-owner/Projects/fuskar/backend
Environment="PATH=/home/fuskar-owner/envs/fuskar/bin"
ExecStart=/home/fuskar-owner/envs/fuskar/bin/gunicorn --workers 3 --bind :9000 -m 007 wsgi

[Install]
WantedBy=multi-user.target